<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceder a la cámara para escanear el objeto 3D.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>La app requiere acceso al micrófono para capturar escaneos más precisos.</string>
</dict>
</plist>
